<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="../css/exercise_info.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <link href="../css/exercise_info.css" rel="stylesheet">
    <title><%-exeName%></title>
    <script>
        $(function(){
            $(".navbar").load("./html/nav-bar.html"); 
        });    
    </script> 
</head>

<body>
    <nav class="navbar navbar-black default-color bg-dark"></nav>

    <header class="exercise-hero" style="margin-top: 2%">
        <div class="exercise-hero__inner">
            <div class="exercise-hero__image-wrap">
                <img class="exercise-hero__image" src="../media/<%-img%>.png"></img>
            </div>
            <div class="exercise-hero__content-wrap">
                <h2 class="exercise-hero__category-title"> <%= categoryName %> Exercises</h2>
                <h1 class="exercise-hero__title"><%= exeName %>
                    <button type="button" style="background: none" class="border-0" data-toggle="tooltip" data-placement="right" title="Best exercise for this muscle group" disabled>
                         <!--Best logo-->
                        <%if (isBest) { %>
                            <img style="width: 50px" src="../media/bestLogo.png"/>
                        <% } %>
                    </button>
                
                </h1>
                
                <div class="exercise-hero__data">
                    <dl class="exercise-info exercise-info--hero">
                        <div class="exercise-info__term exercise-info__term--body-part">
                            <dt><span>Target </span>Primary Muscles:</dt>
                            <dd id="primary_muscles"></dd>
                        </div>
                        <div class="exercise-info__term exercise-info__term--body-part">
                            <dt><span>Target </span>Secondary Muscles:</dt>
                            <dd id="secondary_muscles"></dd>
                        </div>
                        <div class="exercise-info__term exercise-info__term--equipment">
                            <dt>Equipment:</dt>
                            <dd id="equipment"></dd>
                        </div>
                    </dl>
                </div>
            </div>
            
        </div>
    </header>
    <div class="content__wrap">
        <div class="content__row">
            <main class="content__primary-one-column" role="main">


                <div class="exercise-post">
                    <section class="exercise-post__step">
                        <div class="exercise-post__step-image-wrap">
                            <iframe id="iFrame1" height="240" allowfullscreen></iframe>
                        </div>
                        <div class="exercise-post__step-content">
                            <div class="exercise-info__term exercise-info__term--body-part">
                                <dt><span>Target </span>Description:</dt>
                                <dd style="text-align: justify"><%-description%></dd>
                            </div>
                        </div>
                    </section>
                </div>

                <div id="offersDiv" style="display: flex; place-content: center; justify-content: space-evenly">
                    
                </div>

            </main>
        </div>
    </div>
    <script src="../js/exercise_info.js"></script>
    <script>
        var card = <%-card%>;
        window.onload = fillSection(card);

    </script>

</body>

    
</html>